### Nama    : Raudhya Azzahra' ###
### NIM     : 2209106034 ###
### Kelas   : IF A 2022 ###

### POSTTEST 4 KB ###

=======================================================================================================================

#### Import Package ####

In [53]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import numpy as np

#### Deklarasi file CSV ####

In [54]:
dhya = pd.read_csv('travel_insurance.csv')
dhya

,Agency,Agency Type,Distribution Channel,Product Name,Claim,Duration,Destination,Net Sales,Commision (in value),Gender,Age
0,CBH,Travel Agency,Offline,Comprehensive Plan,No,186,MALAYSIA,-29.0,9.57,F,81
1,CBH,Travel Agency,Offline,Comprehensive Plan,No,186,MALAYSIA,-29.0,9.57,F,71
2,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,65,AUSTRALIA,-49.5,29.70,NaN,32
3,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,60,AUSTRALIA,-39.6,23.76,NaN,32
4,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,79,ITALY,-19.8,11.88,NaN,41
...,...,...,...,...,...,...,...,...,...,...,...
63321,JZI,Airlines,Online,Basic Plan,No,111,JAPAN,35.0,12.25,M,31
63322,JZI,Airlines,Online,Basic Plan,No,58,CHINA,40.0,14.00,F,40
63323,JZI,Airlines,Online,Basic Plan,No,2,MALAYSIA,18.0,6.30,M,57
63324,JZI,Airlines,Online,Basic Plan,No,3,VIET NAM,18.0,6.30,M,63
63325,JZI,Airlines,Online,Basic Plan,No,22,HONG KONG,26.0,9.10,F,35

In [55]:
dhya.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63326 entries, 0 to 63325
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Agency                63326 non-null  object
 1   Agency Type           63326 non-null  object
 2   Distribution Channel  63326 non-null  object
 3   Product Name          63326 non-null  object
 4   Claim                 63326 non-null  object
 5   Duration              63326 non-null  int64
 6   Destination           63326 non-null  object
 7   Net Sales             63326 non-null  float64
 8   Commision (in value)  63326 non-null  float64
 9   Gender                18219 non-null  object
 10  Age                   63326 non-null  int64
dtypes: float64(2), int64(2), object(7)
memory usage: 5.3+ MB

#### 1. Membagai dataset menjadi training set dan testing set dengan proporsi 70:30 ####

In [56]:
X = dhya.iloc[:,:-1]
y = dhya.iloc[:,-1]

Kelas train test split

In [57]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [58]:
print ('Dimensi x_train : ',X_train.shape)
print ('Dimensi x_test : ',X_test.shape)
print ('Dimensi y_train : ', y_train.shape)
print ('Dimensi y_test : ',y_test.shape)

Dimensi x_train :  (44328, 10)
Dimensi x_test :  (18998, 10)
Dimensi y_train :  (44328,)
Dimensi y_test :  (18998,)

#### 2. melakukan normalisasi pada salah satu attribute menggunakan min max scaler ####

In [59]:
dhyaa = pd.read_csv('travel_insurance copy.csv')

In [60]:
minmax = MinMaxScaler()

In [61]:
dhyaa['Age'] = minmax.fit_transform(dhyaa[['Age']])

In [62]:
print("Sebelum dilakukan normalisasi pada kolom 'Age': ")
print(dhya['Age'].describe())

Sebelum dilakukan normalisasi pada kolom 'Age':
count    63326.000000
mean        39.969981
std         14.017010
min          0.000000
25%         35.000000
50%         36.000000
75%         43.000000
max        118.000000
Name: Age, dtype: float64

In [63]:
print("Sesudah dilakukan normalisasi pada kolom 'Age': ")
print(dhyaa['Age'].describe())

Sesudah dilakukan normalisasi pada kolom 'Age':
count    63326.000000
mean         0.338729
std          0.118788
min          0.000000
25%          0.296610
50%          0.305085
75%          0.364407
max          1.000000
Name: Age, dtype: float64

#### 3. Melakukan standarisasi pada dataset ####

In [64]:
dhyaaa = pd.read_csv('travel_insurance copy 2.csv')

In [65]:
ss = StandardScaler()

In [66]:
dhyaaa['Age'] = ss.fit_transform(dhyaaa[['Age']])

In [67]:
print("Nilai sebelum deviasi standar: ")
print(np.std(dhya['Age']))
print('Nilai sebelum data scaling:')
print(dhya['Age'])

Nilai sebelum deviasi standar:
14.016898864192918
Nilai sebelum data scaling:
0        81
1        71
2        32
3        32
4        41
         ..
63321    31
63322    40
63323    57
63324    63
63325    35
Name: Age, Length: 63326, dtype: int64

In [68]:
print("Nilai sesudah deviasi standar: ")
print(np.std(dhyaaa['Age']))
print('Nilai sesudah data scaling:')
print(dhyaaa['Age'])

Nilai sesudah deviasi standar:
0.9999999999999999
Nilai sesudah data scaling:
0        2.927182
1        2.213758
2       -0.568598
3       -0.568598
4        0.073484
           ...
63321   -0.639940
63322    0.002142
63323    1.214963
63324    1.643018
63325   -0.354571
Name: Age, Length: 63326, dtype: float64

#### 4. Melakukan data cleaning pada data dengan nilai null dan mengubah nilai null sesuai dgn ketentuan ####

mengecek apakah terdapat data dengan nilai null :

In [69]:
dhya.isna().sum()

Agency                      0
Agency Type                 0
Distribution Channel        0
Product Name                0
Claim                       0
Duration                    0
Destination                 0
Net Sales                   0
Commision (in value)        0
Gender                  45107
Age                         0
dtype: int64

In [95]:
dhya.loc[0:, 'Net Sales'] = np.nan #float
dhya.loc[0:, 'Duration'] = np.nan #int

In [96]:
print("Jumlah nilai null attribute Net Sales:")
print (dhya['Net Sales'].isna().sum())
print('\n')
print("Jumlah nilai null attribute Destination:")
print (dhya['Duration'].isna().sum())

Jumlah nilai null attribute Net Sales:
55284


Jumlah nilai null attribute Destination:
55284

a. Mengganti nilai null pada bilangan bulat dengan median

In [70]:
median = dhya['Duration'].median()
dhya['Duration'].fillna(median, inplace=True)

b. Mengganti nnilai null pada bilangan desimal dengan mean

In [71]:
mean = dhya['Net Sales'].mean()
dhya['Net Sales'].fillna(mean, inplace=True)

c. Mengganti nilai null pada kolom teks dengan modus

In [83]:
modus = dhya['Gender'].mode()[0]
dhya['Gender'].fillna(modus, inplace=True)

#### 5. Melakukan data cleaning pada data dengan nilai duplikat ####

In [73]:
dhya.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
63321    False
63322    False
63323    False
63324     True
63325    False
Length: 63326, dtype: bool

In [74]:
dhya.drop_duplicates(inplace=True)

In [75]:
dhya.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
63320    False
63321    False
63322    False
63323    False
63325    False
Length: 55284, dtype: bool

#### 6. Mengganti tipe data salah satu attribute angka ####

In [76]:
print("Tipe data kolom 'Duration' sebelum perubahan:")
print(dhya['Duration'].dtype)

Tipe data kolom 'Duration' sebelum perubahan:
int64

Mengubah tipe data int menjadi float

In [99]:
dhya['Duration'] = dhya['Duration'].astype(float)
print("\nTipe data kolom 'Duration' sesudah perubahan:")
print(dhya['Duration'].dtype)

Tipe data kolom 'Duration' sesudah perubahan:
float64

#### 7. Melakukan One Hot Encoding pada dataset ####

In [79]:
oneHot = OneHotEncoder(sparse=False)

In [80]:
dhya.Claim.unique()

array(['No', 'Yes'], dtype=object)

In [81]:
Claim = oneHot.fit_transform(dhya[['Claim']])
Claim = pd.DataFrame(Claim)

dhya['No'] = Claim[0]
dhya['Yes'] = Claim[1]

c:\Users\Raudhya Azzahra'\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [82]:
dhya.head()

,Agency,Agency Type,Distribution Channel,Product Name,Claim,Duration,Destination,Net Sales,Commision (in value),Gender,Age,No,Yes
0,CBH,Travel Agency,Offline,Comprehensive Plan,No,186.0,MALAYSIA,-29.0,9.57,F,81,1.0,0.0
1,CBH,Travel Agency,Offline,Comprehensive Plan,No,186.0,MALAYSIA,-29.0,9.57,F,71,1.0,0.0
2,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,65.0,AUSTRALIA,-49.5,29.70,NaN,32,1.0,0.0
3,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,60.0,AUSTRALIA,-39.6,23.76,NaN,32,1.0,0.0
4,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,79.0,ITALY,-19.8,11.88,NaN,41,1.0,0.0